<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/styles.css">
    <title>Document</title>
</head>
<body>
    <!-- <div class="content"> -->
    <div id="loading">
        <svg id="logo">
            <use href="../../static/images/yonderlogo-01.svg#guySymbol"></use>
        </svg>

    </div>    
    <button class="loginbtn">login</button>
    <button class="signupbtn">sign-up</button>
<!-- </div> -->

</body>
<script>
//     setTimeout(() => {
//   const content = document.querySelector('.content');

//   const btn1 = document.createElement('button');
//   btn1.textContent = "Start";
//   btn1.classList.add('button');

//   const btn2 = document.createElement('button');
//   btn2.textContent = "Learn More";
//   btn2.classList.add('button');

//   content.appendChild(btn1);
//   content.appendChild(btn2);

//   // Animate buttons after insertion
//   setTimeout(() => {
//     btn1.classList.add('show');
//     btn2.classList.add('show');
//   }, 50); // tiny delay so transition triggers
// }, 4000);


const logo = document.getElementById("logo")
const loginbtn = document.querySelector(".loginbtn")
const signupbtn = document.querySelector(".signupbtn")

window.addEventListener("load", ()=>{
    let colors = ["#EEBEDC", "#F4DD81", "#BDCBE9", "#BAC693"]

    randColor = colors[Math.floor(Math.random() * colors.length)];

    // logo.style.fill = randColor
    loginbtn.style.backgroundColor = randColor
    signupbtn.style.backgroundColor = randColor

    // logo.style.transition = 'fill 1s ease';

    // setTimeout(() => {
    //     logo.style.fill = randColor
    // }, 1500); // 100ms delay


    loginbtn.addEventListener("mouseenter", ()=>{
        logo.style.transition = 'fill 1s ease'

        setTimeout(() => {
            logo.style.fill = randColor
        }, 100); // 100ms delay
    
    })

    loginbtn.addEventListener("mouseleave", ()=>{
        logo.style.transition = 'fill 1s ease'

        setTimeout(() => {
            logo.style.fill = "#000"
        }, 100); // 100ms delay
    
    })

    signupbtn.addEventListener("mouseenter", ()=>{
        logo.style.transition = 'fill 1s ease'

        setTimeout(() => {
            logo.style.fill = randColor
        }, 100); // 100ms delay
    
    })

    signupbtn.addEventListener("mouseleave", ()=>{
        logo.style.transition = 'fill 1s ease'

        setTimeout(() => {
            logo.style.fill = "#000"
        }, 100); // 100ms delay
    
    })

})

loginbtn.addEventListener("mouseenter", ()=>{

})


</script>
</html>
