{% extends "base.html" %}

{% block title %}save to profile{% endblock %}

{% block content %}
<h1>Save "{{ event.title }}"</h1>

<form method="POST">
    <label for="board">select a board:</label><br>
    <select name="board" id="board">
        {% for board in boards %}
            <option value="{{ board.id }}">{{ board.name }}</option>
        {% endfor %}
        <option value="new">+ create new board</option>
    </select><br><br>

    <button type="submit">Save</button>
</form>

{% endblock %}
