{% extends "base.html" %}
{% block title %}Create New Board{% endblock %}

{% block content %}
<div class="add-event-container">
  <h1 class="add-event-title">Create a New Board</h1>

  <form method="POST" class="add-event-form">
    <input type="text" name="name" placeholder="Board Name" required>
    <textarea name="description" placeholder="Description (optional)"></textarea>

    <button type="submit" class="submit-event-button">Create Board</button>
  </form>

  <a href="{{ url_for('profile.profile') }}" class="back-button" style="text-decoration: none;">Back to Profile</a>
</div>
{% endblock %}


