{% extends "base.html" %}

{% block title %}Settings{% endblock %}

{% block content %}
<h1>Update Your Settings</h1>

<form method="POST" action="{{ url_for('profile.settings') }}">
    <label for="username">New Username</label><br>
    <input type="text" id="username" name="username" value="{{ user.username }}"><br><br>

    <label for="password">New Password</label><br>
    <input type="password" id="password" name="password" placeholder="Enter new password"><br><br>

    <label for="profile_pic">New Profile Picture URL</label><br>
    <input type="text" id="profile_pic" name="profile_pic" value="{{ user.profile_pic }}"><br><br>

    <button type="submit">Save Changes</button>
</form>

{% endblock %}
